.App{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: honeydew;

   
    

}
@media screen and (min-width: 750px) {
    .App{

     display: flex;
     justify-content: center;
     align-items: center;
    }
     
 }
